@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-montserrat;
  }

  h2 {
    @apply font-semibold text-lg xxs:text-xl xs:text-2xl md:text-3xl lg:text-4xl leading-[120%];
  }

  h3 {
    @apply font-semibold text-lg xxs:text-xl lg:text-2xl leading-[120%];
  }

  section {
    @apply pb-sixty md:pb-20 xl:pb-100;
  }

  .subtitle {
    @apply font-semibold text-brand-red xs:text-lg md:text-xl lg:text-2xl leading-[120%];
  }
}

.catalog-button {
  @apply h-14 xl:h-sixty items-center gap-2.5 border border-brand-red font-semibold rounded-lg px-3 xl:px-3.5;
}

.login-button {
  @apply h-14 xl:h-sixty font-semibold items-center gap-2 font-semibold border border-brand-gray-200 rounded-lg hover:border-brand-red transition-all duration-200 px-3 xl:px-4;
}

.button-gray-outline {
  @apply font-medium border border-brand-gray-400 rounded-lg hover:border-brand-red hover:text-brand-red transition-all duration-200 px-5;
}

.button-red {
  @apply font-medium bg-brand-red text-white border border-transparent rounded-lg hover:bg-brand-dark-red transition-all duration-200;
}

.button-red-outline {
  @apply font-medium bg-white text-brand-red border border-brand-red rounded-lg hover:bg-brand-red hover:text-white transition-all duration-200;
}

/* Scroll Styles */
/* Width of the scrollbar */
::-webkit-scrollbar {
  @apply w-1 h-1;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-brand-gray-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-brand-gray-400/70 rounded-full;
}

/* Switch Toggle Styles */

.switch:checked + label {
  @apply bg-brand-red;
}

.switch:checked + label div {
  @apply translate-x-3;
}

.switch:checked + label div span {
  @apply bg-brand-red;
}

/* Swiper styles */

/* Home Swiper */
.swiper-clients .swiper-pagination {
  @apply lg:!space-x-5 !-mb-2;
}

.swiper-clients .swiper-pagination-bullet {
  @apply lg:w-3 lg:h-3 shrink-0;
}

.swiper-clients .swiper-pagination-bullet-active {
  @apply !bg-brand-red;
}

/* About Swiper */

.about-swiper .swiper-pagination {
  @apply !-mb-1;
}

.about-swiper .swiper-pagination {
  @apply !space-x-5;
}

.about-swiper .swiper-pagination-bullet {
  @apply !w-3 !h-3;
}

.about-swiper .swiper-pagination-bullet-active {
  @apply w-3 h-3 !bg-brand-red;
}

/* CSS for the accordion transitions */
.order-accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.order-accordion-item.open .order-accordion-content {
  max-height: 1000px; /* Adjust if needed */
  transition: max-height 0.5s ease-in;
}

.order-accordion-item.open .order-accordion-header svg {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.order-accordion-header svg {
  transition: transform 0.3s ease;
}
